---
import {SCORE_API_ENDPOINT} from "astro:env/server"

const res = await fetch(SCORE_API_ENDPOINT)
console.log(res)
const scoreValue = await res.text()


export const prerender = false;
---


<span class="text-white" id="score">
    Score: {scoreValue.trim()}
</span>